# Visual Studio stuff
*.sdf
*.opensdf
*proj.filters
*proj.user
Debug/
Release/
ipch/
*.suo
*.ide

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
